.customCard{
    height: 100%;
    padding: 20px;
}

.customCard:hover{
    box-shadow: #3652AD 3px 0px , #3652AD -3px 0    px ;
    /* box-shadow: ; */
}

.servicesIcon{
    width: 40px;
    height: 40px;
}