#aboutusCarouselDiv {
    background-color: rgb(222, 216, 216);
    text-align: center;
    padding: 110px 40px;

}

#outer {
    background-color: rgb(222, 216, 216);

}

#inner {
    padding-top: 80px;
    padding-inline: 0px;
    padding-bottom: 77px;
    background-color: #a6a1a1;
    height: fit-content;
    overflow: hidden;
    border-top-left-radius: 900px 130px;
    border-top-right-radius: 900px 130px;

}

#inner img {
    width: 100%;
    min-height: 480px;
    height: 480px;
    background-size: contain;
    background-position: bottom bottom;
    border-top-right-radius: 900px 100px;
}

#inner img:hover,#inner .left:hover{
    transform: scale(.985);
}

#inner .left {
    min-height: 480px;
    max-height: 480px;
    height: 480px;
    text-align: center;
    background-color: rgb(222, 216, 216);
    border-top-left-radius: 900px 100px;
    padding: 80px 50px;
    text-align: left;

}

@media screen and (max-width:1000px) {

    #inner {
        padding-top: 80px;
        padding-inline: 35px;
        padding-bottom: 70px;
        height: fit-content;
        border-top-left-radius: 900px 200px;
        border-top-right-radius: 900px 200px;
    
    }

    #inner .left {
        width: 90%;
        margin: auto;
        border-top-left-radius: 500px 50px;
        border-top-right-radius: 500px 50px;

        padding: 20px 50px;
        height: fit-content;
        max-height: 10000px;


    }

    #inner img {    
        width: 100%;
        min-height: 480px;
        height: 480px;
        background-size: contain;
        background-position: bottom bottom;
        border-top-right-radius: 0px;
    }

    #inner .right {
        margin: auto;
        margin-top: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 0px;

    }



}


@media screen and (max-width:500px) {
    
    #inner {
        padding-top: 30px;
        padding-inline: 15px;
        padding-bottom: 40px;
        height: fit-content;
        border-top-left-radius: 500px 50px;
        border-top-right-radius: 500px 50px;
        text-align: center;
    
    }


    #inner .left {
        width: 100%;
        margin: auto;
        border-top-left-radius: 500px 50px;
        border-top-right-radius: 500px 50px;

        padding: 20px 50px;
        height: fit-content;
        max-height: 10000px;
        text-align: justify;


    }

    #inner .right {
        margin: auto;
        /* margin-top: 20px; */
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px;

    }

    #inner img:hover,#inner .left:hover{
        transform: scale(1);
    }
    
}