.reasonsDiv{
    background-color: aliceblue;
    padding-top: 15px;
}

.chooseusCards{
    margin-bottom: auto;
    height: 98%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .13);
}
.reasonshov{
    transition: .1s ease-in-out;
    cursor: pointer;
}
.reasonshov:hover{
    background: black;
    transition: .1s ease-in-out;
}