#formbg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 500px;
    filter: blur(10px);
}


.inputField {
    padding: 10px 15px;
    margin-bottom: 0px;
    outline: none;
    width: 90%;
}

#contactusForm select {
    padding: 13px 15px;
    margin-bottom: 0px;
    outline: none;
    width: 90%;
}

#contactusForm option {
    padding: 13px;
    margin-bottom: 0px;
    outline: none;
    width: 90%;
}


.inputField:focus {
    border: 3px solid black;

}

.letConnectMain {
    padding: 100px 40px 120px;
    position: relative;
}

.letConnectHeading {
    height: fit-content;
}

.fadeOut {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}


.errField {
    height: 62px;
    margin-top: 4px;
}

.alert {
    padding: 5px 16px 5px 10px;
    font-size: 14px;
}

@media screen and (min-width:992px) {
    .letConnectMain {
        background-color: rgb(168, 169, 178);
    }

    .letConnectHeading {
        height: fit-content;
        background-color: rgb(168, 169, 178);
        color: rgb(20, 53, 99);
    }


}

@media screen and (max-width:991px) {
    .mdForm {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        width: 80%;
    }

    .letConnectMain {
        padding: 0px;
        position: relative;
    }


    .inputField {
        padding: 4px 15px;
        width: 70%;
        font-size: 14px;
    }

    #contactusForm select {
        padding: 7px 15px;
        margin-bottom: 0px;
        outline: none;
        width: 70%;
        font-size: 14px;
    }


    .errField {
        height: 35px;
        margin-top: 2px;
    }

    .alert {
        padding: 3px 16px 3px 10px;
        font-size: 12px;
    }

}

@media screen and (max-width:1199px) {
    .letConnectMain {
        padding: 0px 0px 40px 0px;
        position: relative;
    }
}

@media screen and (max-width:767px) {
    .letConnectMain {
        padding: 20px 0px 90px 0px;
    }

    .mdForm {
        width: 100%;
        text-align: center;
    }

    .inputField {
        padding: 4px 15px;
        width: 85%;
        font-size: 14px;
    }

    .errField {
        margin: auto;
        margin-top: 2px;
        width: 85%;
    }

    #captchaDiv {
        display: flex;
        justify-content: center;
    }

    #formbg {
        height: 600px;
    }
}