.c {
    --bs-offcanvas-bg: rgba(255, 255, 255, 0.1); /* Redefine the offcanvas background color */
}


#brandName{
    transition: 1s;
}

#brandName:hover{
    transform: scale(1.2);
    transition: 1s;
}

.ltblue{
    background-color: #3652AD;
}

.navButton{
    border: 2px solid white;
    border-radius: 0px;
    color: white;
}
.navButton:hover{
    background-color: white;
    color: black;
}

.navLink{
    color: white;
}
.navLink:hover{
    color: white;
}


.custombg{
    min-width: fit-content;
}

@media screen and (max-width: 1199px) {
    .navLink{
        color: black;
        padding: 15px;
        padding-left: 30px;
        border-top: 1px solid black;
        font-weight: 500;
    }

    .navLinkContact{
        border-bottom: 1px solid black;
    }

    .navLink:active{
        color: black;
    }
    /* .navLink:hover{
        color: white;
        font-weight: bold;
    } */

    .custombg{
        background-color: white;
        font-size: 20px;
    }
    .custombg:hover{
        background-color: black;
        color:black;
    }

    .custombg:hover .nav-link {
        color: white;
        font-weight: bold;
    }
    
    .servicesNavLink{
        color: black;
        padding: 15px;
        padding-left: 30px;
        border-top: 1px solid black;
        font-weight: 500;

    }
    .servicesNavLink:hover{
        cursor: pointer;
    }

    .servicesDropdownDiv{
        background-color: white;
        border: 0px;
        border-radius: 0px;
        padding: 0px;
        margin-left: 20px;
    }
}


@media screen and (max-width: 450px) {
    .xxsHide{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .servicesDropdownDiv{
        background-color: rgb(207, 229, 249);
      padding: 0px;
        width: fit-content;
        min-width: 18rem;
        font-size: 16px;
    }

    .servicesNavLink{
        color: black;
        padding: 15px;
        margin: 5px;
        font-weight: 500;
        border-bottom: 1px solid black;
    }

    .servicesNavLinkWebConsult{
        margin-bottom: 2px;
        border-bottom: 0px;
    }

    .navLink:hover{
        transform: scale(1.08);
    }
    
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: rgb(236, 241, 154); /* Change this to desired background color */
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 1, 0); /* Change this to desired handle color */
}