.que {
    background-color: rgb(101, 96, 140);
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 26px;
    display: block;
    position: relative;
}

.ans {
    background-color: rgb(225, 224, 235);
    padding: 18px;
    margin-bottom: 10px;
    font-weight: 450;
}


.que a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-weight: 300;
    line-height: 29px;
    position: relative;
}

.que a:hover,
.que a:active {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    color: #9a4a5a;
}

.bardiv {
    float: right;
}

.que a span {
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.que a .bar {
    margin-top: 50%;
    border-color: white;
    border-width: 1.5px;
    border-style: solid;
    width: 25px;
    border-radius: 10px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.que a .bar::after {
    height: 10px;
    border-width: 1.5px;
    border-style: solid;
    width: 25px;
    border-radius: 10px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.que a .bar::after {
    content: "";
    height: 0;
    position: absolute;
    top: 12.5px;
    right: .5px;
}

.que a {
    position: relative;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.que a .bar::after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    border-color: white;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.que[aria-expanded="true"] .bar::after {
    transform: rotate(180deg);

}

