#carouselDiv {
    width: 100%;
    /* height: 800px; */
    height: calc(80vw*.52);
    min-height: 650px;
    /* background-color: #FE7A36; */
    background-color: white;
    padding: 60px 70px;


}

@media screen and (max-width:700px) {
    #carouselDiv {
        padding: 0px;
        height: calc(80vw*1);
        min-height: 510px;

    }
}


