.imgWidth {
    width: 18rem;
    height: 25.5rem;
}

.imgCardWidth {
    width: 18rem;
}

@media screen and (max-width:360px) {

    .imgWidth {
        width: 15.5rem;
        height: 21.9rem;
    }

    .imgCardWidth {
        width: 15.5rem;
    }
}